/*Segurança digital*/

.degrade1{
    background: linear-gradient(135deg,#d6e2ff, #60a5fa);
}

.seguranca{ /*Titulo*/
    color: #0f549e;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900; /*Negrito*/
    text-align:justify;
    margin-bottom: 15px; /* Espaço para o texto de baixo não grudar */
    margin-left: 65px; /*espaço da borda esquerda*/

    margin-top: 40px;
}

.text1{/*Conteudo abaixo do titulo*/
    color: #000000;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 390;     /* Deixa o subtítulo mais fininho para contraste */
    text-align:justify;
    margin-bottom: 15px; /* Espaço para o texto de baixo não grudar */
    margin-left: 45px; /*espaço da borda esquerda*/

    text-indent: 2em; /*Espaço do paragrafo*/   
}

.Oqeseg{ /*Imagem*/
    position: absolute; 
    top: 150px; 
    right: 0; /*elemento totalmente no lado direito.*/
    margin-top: 0; /*Encosta o elemento na parte inferior*/
    width: 750px;   /* aumenta aqui */
    height: auto;   /* mantém proporção */
}

.card1 {
    background-color: #e1edfd;
    width: 420px;
    margin: 80px auto; /*Centraliza na tela*/
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    float: left;
    margin-left: 410px;
    bottom: 25px;
}

.card2{
    background-color: #e1edfd;
    width: 420px;
    margin: 80px auto; /*Centraliza na tela*/
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    float:right;
    margin-right: 410px;
}

details summary {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color:#1f4e8c;
    cursor: none;
    list-style: none;

    display: flex;              /* deixa lado a lado */
    align-items: center;        /* alinha verticalmente */
    gap: 10px;                  /* espaço entre imagem e texto */
}

.icone1 {
    width: 55px;   /* tamanho da imagem */
    height: auto;
}
.icone2 {
    width: 48px;   /* tamanho da imagem */
    height: auto;
}

details p {
    font-size: 20px;
    line-height: 1.5;          /* espaçamento entre linhas */
    text-align: justify;
    text-indent: 30px;         /* recuo no início */
    color: #333;
    margin-bottom: 20px;
}

/* Remove a setinha padrão */
summary::-webkit-details-marker {
    display: none;
}